*{
    box-sizing: border-box;
    color: white;
}

body{
    background: black;
    margin: 0;
    font-family: sans-serif;
    font-weight: 300;
    background: url("images/Solar\ System.png") black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav-container{
    width: 95%;
    margin: 0 auto;
}

header{
    background: #55d6aa;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    font-size: 16px;
    position: relative;
    display: inline-block;
    margin-left: 50px;
    padding-top: 20px;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    color: gray;
}

header h1{
    font-size: 24px;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: gray;

    position: absolute;
    top: 0;

    transition: all ease-in-out 200ms;
}

nav a:hover::before{
    width: 100%;
}

.body-container1{
    width: 95%;
    margin: 0 auto;


}

.body-container1 h1{
    font-size: 18px;
}

